/*article*/
.article {
  font-family: Anaheim;
}

/*body*/
.body {
  font-family: Anaheim;
}

.cover {
  object-fit: fill;
}

/*descritpion*/
.description {
  padding-top: 10%;
  font-family: Anaheim;
  
}

/*getintouch*/
.getintouch {
  padding-top: 10;
  font-family: Anaheim;
}

/*header*/
.header {
  padding-top: 20%;
  font-family: Anaheim;
  border-top: solid 0.1em black;
  padding-bottom: 15%;
}

img {
  width: 15em;
  height: 15em;
  overflow: hidden;
}

/*header2*/
.major {
  padding-top: 10%;
  font-family: Anaheim;
  border-top: solid 0.1em black;
  padding-bottom: 10%;
  
}


/*readmore*/
.readmore {
 padding-bottom:20%;
 align-items: center;
}


/*row-1*/
.row1 {
  
  padding-top:2%;
}

/*row-2*/
.row2 {
  
  padding-bottom:20%;
}

/*socials*/
.socials {
  
  font-family: Anaheim;
  display: block;
}

#Navhome {
  font-family: Anaheim;
}

#Aboutme {
  font-family: Anaheim;
}

#Articles {
  font-family: Anaheim;
}

#Contact {
  font-family: Anaheim;
}

#footer {
  padding-top:30%;
}
